<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div id="app">
    <ul
      v-for="(item, i) in obj.tableData"
      :key="item.id"
    >
      <li @click="change1(item, i)">
        {{ item.id }} - {{ item.name }} -
        <div v-if="item.followers">{{ item.followers.join(' ') }}</div>
      </li>
    </ul>
  </div>
</body>
<!--<script src="./dist/vue.js"></script>-->
<script src="./dist/vue.js"></script>
<script>
  const app = new Vue({
    // template: '<div>{{name}}</div>',
    el: '#app',
    data: {
      // name: 'Darren',
      // age: 12,
      // firstName: 'Darren',
      // lastName: 'Baron',
      // useless: 0,
      obj: {
        tableData: [],
      }
    },
    computed: {
    },
    methods: {
      change() {
        this.useless++;
      },
      changeLast() {
        this.lastName = 'anqi';
      },
      change1(item, i) {
        item.followers = [`fellows${i}`, `manager${i}`];
        // this.$forceUpdate();
      }
    },
    mounted() {
      this.obj.tableData = [
        {
          id: 1,
          name: 'Beacon1',
        },
        {
          id: 2,
          name: 'Beacon2',
        },
      ]
    },
    watch: {
      // lastName (newVal, oldVal) {
      //   console.log(newVal, oldVal, 111);
      // },
    }
  }).$mount('#app');
</script>
</html>
